:root {
  --black: #222831;
  --dark-gray: #393e46;
  --orange: #fd7014;
  --white: #eeeeee;
}

.sidebar-container {
  display: flex;
  justify-content: center;
  width: 10%;
  outline: solid 1px white;
}

/* .sidebar-container::after {
  content: '';
  width: 10px;
  height: 80px;
  background-color: var(--white);
} */

.sidebar-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* outline: solid 1px green; */
}

.sidebar-text {
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
}
